.App {
  text-align: center;
}

.TopicsContainer {
  display:flex;
  margin: 1vmax;
  justify-content: center;
}

.Topic {
  margin: 10px;
}

.TopicButtonsGroup {
  display: flex;
  flex-flow: column;
}

.TopicButton {
  margin: 5px;
}